.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34cc;
}

.btn {
  background-color: transparent;
}

.btnApps{
  display: flex;
  justify-content:center;
  padding-top: 25px;
}

.click {
  color: #d2cfcf;
}

.mainContainer {
  margin-top: 50px;
}

#clearBtn {
 margin-left: 10px;
}

.flashcard {
  box-shadow: -10px 13px 20px 12px #080606;
  margin-top: 50px;
  min-width: 60px;
  background-color: white;
  width: 850px;
  height: 438px;
  margin: auto;
  cursor: pointer;
}

.flashContainer {
  height: 100%;
}

.flashInput {
  margin-top: 25px;
}

.sides {
  height: 90%
}

.front {
  padding-top: 25px;
  height: 90%;
  font-size: 50px;
  font-size: 3.5vh;
  overflow: auto;
}

.form {
  margin-top: 50px;
  background-color: #8ce8f736;
  height:90%;
  margin: auto;
  padding: 25px;
  width: 60%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.submit {
  margin-top: 15px;
  width: 35%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.exit {
  float: right;
  font-size: 25px;
  cursor: pointer;
  color: ghostwhite;
}

#restart {
  margin: auto;
  font-size: 35px;
}
